<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Logins">
    <test name="Valid Login">
        <classes>
            <class name="logins.TestLogin"/>
        </classes>
    </test> <!-- Test -->

    <test name="Select items">
        <classes>
            <class name="logins.TestLogin"/>
        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->